.input {
    width: 100%;
    border: 2px solid gray;
    border-radius: 8px;
    padding: 5px 10px;
    outline: transparent;
    display: inline-block;
}

.input:hover {
    border-color: blue;
}

.input:focus {
    border-color: blue;
}